:root{
    background-color: dimgray;
}

*{
    font-family: 'Sigmar One', 'Times New Roman', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    margin: 10px;
    display: flex;
    display: row;
}

#timer{
    display: flex;
    text-align: right;
}

#start-screen {
    text-align: center;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 40px;
}

