:root{
    background-color: dimgray;
}

*{
    font-family: 'Sigmar One', 'Times New Roman', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.high-scores {
    margin: 10px;
    display: flex;
    display: row;
    background-color: purple;
    color: white;
    text-decoration: none;
}

#timer{
    display: flex;
    text-align: right;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 40px;
}

h2 {
    font-size: 20px;
}

.content {
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.start-button:hover {
    cursor: pointer;
    
}
