:root{
    background-color: black;
}

*{
    font-family: 'Sigmar One', 'Times New Roman', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#high-scores {
    margin: 10px;
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#high-scores:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px violet;
    transform: scale(1.05);
}

#timer{
    display: flex;
    justify-content: centerxs;
    align-items: center;
    text-align: center;
    color: white;
    padding: 30px;
}

h1{
    text-align: center;
    font-size: 45px;
    margin: 40px;
    color: white;
}

h2 {
    font-size: 20px;
    color: white;
    margin: 5px;
    padding: 20px;
}

h3 {
    color: white;
    margin: 5px;
    padding: 20px;
}

.content {
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

button {
    margin: 1px;
    background-color: purple;
    color: white;
    text-decoration: none;
    padding: 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px violet;
    transform: scale(1.05);
}

.hidden {
    display: none;
}
